// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// Greyshade
.container .left-col {
  opacity: 1;
}

.aboutme {
  margin-top: 10px;

  p {
    color: #999;
    line-height: 18px;
  }
}

// Asides

section.recent-posts {
  h2 {
    margin-top: 15px;
  }

  ul {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1040px) {
  section.recent-posts {
    h2 {
      margin-top: 40px;
    }

    ul {
      list-style: none;
      margin-left: 0px;
    }
  }

  .social {
    margin-top: -30px;
  }
}

#header #main-nav ul li {
  display: inline-block;
}
